
body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;


}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  padding-bottom: 10px;


}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

a:hover {
  color: #EAF6F6;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;

}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;

}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

  .top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;

  }

  .khan {
    height: 100px;
  }

  .python {
    height: 100px;
    float: left;
    margin-right: 30px;
  }

  .data {
    height: 100px;
    float: right;
    margin-left: 30px;
  }

  .foot-link {
    color: #11999E;
  }


  .skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
  }

  .intro {
    width: 30%;
    margin: auto;

  }

  .btn {
  background: #00badb;
  background-image: -webkit-linear-gradient(top, #00badb, #11999);
  background-image: -moz-linear-gradient(top, #00badb, #11999);
  background-image: -ms-linear-gradient(top, #00badb, #11999);
  background-image: -o-linear-gradient(top, #00badb, #11999);
  background-image: linear-gradient(to bottom, #00badb, #11999);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
